/*
 * -------------------------------------------------
 *  nf-core/maxquant Nextflow for running test
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  cpus = 1
  memory = 6.GB
  time = 48.h 
}
params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on Travis
  max_cpus = 1
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  prof = 'test'
  fasta = 'data/ABRF_iPRG_2012_target.fasta'
  raws = 'data'
  sdrf = 'data/*.tsv'

}